{% extends 'R_projects/base.html' %} {% block content %} {% load materializecss %}

<script>
    $(document).ready(function() {
        $('select').formSelect();
    });
</script>


<p id="out"></p>


<div class="section no-pad-bot white" id="index-banner">
    <div class="container">
        <h5 class="header center green-text">PROJECT MANAGEMENT SYSTEM</h5>
        <hr style="border-color:yellowgreen;">
        <br>
    </div>
</div>

<div class="container">
    <div class="section">
        {% if warning %}

        <div class="row ">
            <div>
                <div class="card-panel red">

                    <span class="white-text">{{warning}}</span>
                    <i class="material-icons secondary-content white-text">warning</i>
                </div>
            </div>
        </div>

        {% endif %}
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col s12 ">
                    <div class="card">
                        <div class="card-content black-text">
                            <h6 class="card-title green-text"><b>Project registration form</b></h6>
                            <hr style="border-color:lightgreen;">
                            <br>
                            <form method="POST" class="foundation">
                                {% csrf_token %}
                                <label for="project_name">Project Name</label>
                                <p>{{ form_project.project_name }}</p>
                                <br>

                                <label for="description">Description</label>
                                <p>{{ form_project.description }}</p>
                                <br>

                                <label for="requirements">Requirements (Software & Hardware)</label>
                                <p>{{ form_project.requirements }}</p>
                                <br>

                                <label for="director">Research</label>
                                <p>{{ form_project.director }}</p>
                                <br>

                                <label for="project_type">Project category</label>
                                <p>{{ form_project.project_type }}</p>
                                <br>

                                <label for="start_date">Start date</label>
                                <p>{{ form_project.start_date }}</p>
                                <br>

                                <label for="end_date">End date</label>
                                <p>{{ form_project.end_date }}</p>
                                <br>

                                <label for="area">Research area</label>
                                <p>{{ form_project.area }}</p>
                                <br>

                                <label for="accounts">Number of linked accounts</label>
                                <p>{{ form_project.accounts }}</p>
                                <br>

                                <label for="cost">Total project cost</label>
                                <p>{{ form_project.cost }}</p>
                                <br>

                                <label for="financing">Financing percentage</label>
                                <p>{{ form_project.financing }}</p>
                                <br>

                                <label for="terms"><a href="#">Terms of service</a></label>
                                <br>
                                <br>
                                <p>{{ form_project.terms|materializecss }}</p>


                                <div class="row">
                                    <div class="input-field col s1 m1 l3 push-s7 push-m9 push-l9">
                                        <button class="btn waves-effect green lighten-1" type="submit" name="action" onclick="activate()">Register<i class="material-icons right">send</i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-action">
                            <a class="red-text" href="#">About projects</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr style="border-color:yellowgreen;">
    </div>

</div>

<script>
    var InCost = 3500000
    var ExCost = 5500000

    document.getElementById("id_project_type").addEventListener("change", function() {
        if (document.getElementById("id_end_date").disabled == false) {
            var startD = moment(document.getElementById("id_start_date").value, 'YYYY-MM-DD');
            var endD = moment(document.getElementById("id_end_date").value, 'YYYY-MM-DD');
            var days = endD.diff(startD, 'days');
            typeP = document.getElementById("id_project_type").value;
            if (typeP == 1) {
                document.getElementById("id_cost").value = Math.round((days / 30) * InCost);
            } else {
                document.getElementById("id_cost").value = Math.round((days / 30) * ExCost);
            }
        }
        document.getElementById("id_start_date").disabled = false;

        if (document.getElementById("id_project_type").value == 2) {
            document.getElementById("id_financing").disabled = true;
            document.getElementById("id_financing").value = 0;
        } else {
            document.getElementById("id_financing").disabled = false;
        }
    });

    document.getElementById("id_start_date").addEventListener("change", function() {
        if (document.getElementById("id_end_date").disabled == false) {
            var startD = moment(document.getElementById("id_start_date").value, 'YYYY-MM-DD');
            var endD = moment(document.getElementById("id_end_date").value, 'YYYY-MM-DD');
            var days = endD.diff(startD, 'days');
            typeP = document.getElementById("id_project_type").value;
            if (typeP == 1) {
                document.getElementById("id_cost").value = Math.round((days / 30) * InCost);
            } else {
                document.getElementById("id_cost").value = Math.round((days / 30) * ExCost);
            }
        }
        document.getElementById("id_end_date").disabled = false;
    });

    document.getElementById("id_end_date").addEventListener("change", function() {
        var startD = moment(document.getElementById("id_start_date").value, 'YYYY-MM-DD');
        var endD = moment(document.getElementById("id_end_date").value, 'YYYY-MM-DD');

        if (endD <= startD) {
            alert("End date major to start date!!");
            document.getElementById("id_end_date").value = null
        } else {
            var days = endD.diff(startD, 'days');
            if (days < 180) {
                alert("Duration project must be major to 6 months!!");
                document.getElementById("id_end_date").value = null
            } else {
                typeP = document.getElementById("id_project_type").value;
                if (typeP == 1) {
                    document.getElementById("id_cost").value = Math.round((days / 30) * InCost);
                } else {
                    document.getElementById("id_cost").value = Math.round((days / 30) * ExCost);
                }
            }
        }
    });

    function activate() {
        document.getElementById("id_cost").disabled = false;
        document.getElementById("id_financing").disabled = false;
    };
</script>


{% endblock %}